{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}Password{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
<!--    <script src="Resources/public/js/password.js"></script>   -->
{% endblock %}

{% block content %}
   <h1>Password Page</h1>

   <h2>Please Reset Your Password</h2>
   {{ forms.resetpassword( email, password, hideemailpassword, fromactivation, fromforgot, resetkey) }}
   
   
   

{% endblock %}